.header {
    margin-bottom: 32px;
    padding: 15px;
}
.bordered {
	padding: 0;
}
.recipe-search {
	padding-top: 1rem;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-header {
	border-bottom: 1px solid #aaa;
	-webkit-box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.5);
	box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.5);
}
.btn-header {
	margin-left: 10px;
}
.logo{
    
}