@media(max-width: 994px) {
    .btn-search-text {
        display: none;
    }
}

.container {
    height: 100vh;
    position: relative;
}

.body-bg {
    background-image: url("../images/bg-food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.body-filter-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.main-row {
    height: 100vh;
}

.copy-marketing {
    color: white;
}

.btn-login {
    margin-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.footer {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
}
.footer p {
    text-align: center;
}