<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>aiss.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotosController</display-name>
    <servlet-name>PhotosController</servlet-name>
    <servlet-class>aiss.controller.PhotosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotosController</servlet-name>
    <url-pattern>/PhotosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideosController</display-name>
    <servlet-name>VideosController</servlet-name>
    <servlet-class>aiss.controller.VideosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideosController</servlet-name>
    <url-pattern>/VideosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YoutubePlaylistsGetController</display-name>
    <servlet-name>YoutubePlaylistsGetController</servlet-name>
    <servlet-class>aiss.controller.PlaylistsGetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubePlaylistsGetController</servlet-name>
    <url-pattern>/youtubePlaylists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YoutubeAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Youtube</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeAuthController</servlet-name>
    <url-pattern>/AuthController/Youtube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>YoutubeOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Youtube</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/youtubePlaylists</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Youtube</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>aiss.api.FooDreamsApplication</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

</web-app>